body {
  display: grid;
  place-content: center;
  background-color: #222222;
  color: #dddddd;
  font: 100% "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #556655;
  font-weight: bold;
}
